[submodule "exwm"]
	path = exwm
	url = https://github.com/ch11ng/exwm.git
[submodule "xelb"]
	path = xelb
	url = https://github.com/ch11ng/xelb.git
[submodule "site-elisp/aweshell"]
	path = site-elisp/aweshell
	url = https://github.com/manateelazycat/aweshell.git
