[submodule "site-elisp/aweshell"]
	path = site-elisp/aweshell
	url = https://github.com/manateelazycat/aweshell.git
[submodule "site-elisp/Emacs-wgrep"]
	path = site-elisp/Emacs-wgrep
	url = https://github.com/mhayashi1120/Emacs-wgrep.git
[submodule "site-elisp/p4.el"]
	path = site-elisp/p4.el
	url = https://github.com/gareth-rees/p4.el
[submodule "site-elisp/distel"]
	path = site-elisp/distel
	url = https://github.com/massemanet/distel
[submodule "site-elisp/org-novelist"]
	path = site-elisp/org-novelist
	url = git@github.com:sympodius/org-novelist.git
