[Unit]
Description=Emacs: the extensible, self-documenting text editor
Documentation=info:emacs man:emacs(1) https://www.gnu.org/software/emacs/
After=network.target

[Service]
Type=forking
ExecStart=/usr/local/bin/emacs --daemon
ExecStop=/usr/local/bin/emacs --eval '(kill-emacs)'
Restart=always
RestartSec=10

[Install]
WantedBy=default.target

